{{! 
This page will be rendered when no matches are found in 'POST http://localhost:3000/searchpeople'.
You will render this page with the HTML paragraph defined in the lab assignment.
}}

<title>{{title}}</title>
<h1>Person not found {{code}}</h1>
<main class ="not-found">
<p>{{person}} not found</p>
<p class="not-found">We're sorry, but no results were found for {{person}}.</p>
<a href="/">Make another search</a>
</main>